In [59]:
import pandas as pd
import numpy as np
import math
import statsmodels.api as sm
from matplotlib import pyplot as plt

# Experimental packages
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer, SimpleImputer

In [73]:
def imputation_OLS(df, method, target, mask=[]):
    df = df.drop(mask, axis=1)
    df_o =df
    df = df.dropna()
    X = df.drop(target,axis=1)
    Y = df[target].values
    X = sm.add_constant(X)
    model = sm.OLS(Y,X).fit()
    print(f"The original R^2 = {model.rsquared:.4f}")
    print(f"The original adj-R^2 = {model.rsquared_adj:.4f}")
    
    df_imp = EM_algorithm(df_o)
    X_imp = df_imp.drop(target,axis=1)
    X_imp = sm.add_constant(X_imp)
    Y_imp = df_imp[target].values
    model_imp = sm.OLS(Y_imp,X_imp).fit()
    print(f"The original R^2 = {model_imp.rsquared:.4f}")
    print(f"The original adj-R^2 = {model_imp.rsquared_adj:.4f}")

In [90]:
def EM_algorithm(df):
    imputer = IterativeImputer(random_state=1105)
    imputer.fit(df)
    df_imp = imputer.transform(df)
    df_imp = pd.DataFrame(df_imp,columns=df.columns)
    display(df_imp)
    return df_imp

In [22]:
df = pd.read_csv("./data/missing.csv")
display(df.head())
print(df.isnull().sum())

   AMB_TEMP  CH4    CO  NMHC    NO   NO2   NOx   PM10  PM2.5    RH  SO2
0      16.0  2.0  0.53  0.18 -0.30  16.0  16.0  106.0  105.4  77.0  2.6
1      16.0  2.0  0.56  0.19  0.00  23.0  23.0  106.0   97.6  77.0  3.8
2      16.0  2.0  0.56  0.20  0.10  23.0  23.0  107.0   97.6  79.0  3.6
3      16.0  2.1  0.61  0.22  1.72  19.2  20.9  108.0   98.9  80.0  3.7
4      16.0  2.1  0.67  0.19 -0.40  19.0  18.0  105.0  110.6  80.0  3.6

AMB_TEMP    30
CH4         15
CO          18
NMHC        27
NO          27
NO2         28
NOx         26
PM10        11
PM2.5        0
RH          27
SO2         36
dtype: int64

In [14]:
# df_ori = pd.read_csv("./data/original.csv")
# display(df_ori.head())
# print(df_ori.isnull().sum())

In [91]:
imputation_OLS(df, EM_algorithm, ['PM2.5'])

The original R^2 = 0.7699
The original adj-R^2 = 0.7696

C:\Users\kogby\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

      AMB_TEMP  CH4    CO  NMHC    NO   NO2   NOx   PM10  PM2.5    RH  SO2
0         16.0  2.0  0.53  0.18 -0.30  16.0  16.0  106.0  105.4  77.0  2.6
1         16.0  2.0  0.56  0.19  0.00  23.0  23.0  106.0   97.6  77.0  3.8
2         16.0  2.0  0.56  0.20  0.10  23.0  23.0  107.0   97.6  79.0  3.6
3         16.0  2.1  0.61  0.22  1.72  19.2  20.9  108.0   98.9  80.0  3.7
4         16.0  2.1  0.67  0.19 -0.40  19.0  18.0  105.0  110.6  80.0  3.6
...        ...  ...   ...   ...   ...   ...   ...    ...    ...   ...  ...
8779      20.0  1.9  0.30  0.09  1.30  12.0  13.0   63.0   23.5  86.0  1.7
8780      20.0  1.9  0.28  0.09  1.40  13.0  14.0   55.0   26.1  87.0  1.6
8781      20.0  2.0  0.33  0.11  1.30  14.0  16.0   50.0   28.7  89.0  1.5
8782      19.0  2.0  0.37  0.12  1.30  19.0  20.0   52.0   19.6  89.0  1.6
8783      19.0  2.0  0.40  0.16  1.80  23.0  25.0   54.0   11.8  90.0  1.8

[8784 rows x 11 columns]

The original R^2 = 0.7656
The original adj-R^2 = 0.7653

C:\Users\kogby\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)